body{
    font-family:'Times New Roman', Times, serif;
    background-color: #8c52ff;
    font-weight: bold;
}

section{
    text-align: center;
    border-radius: 10px;
    width: 460px;
    margin: auto;
    background-color: white;
    margin-top: 75px;
    box-shadow: 0 10px 36px 16px rgba(0,0,0,0.1);
}

h1{
    font-size: 35px;
}

h3{
    font-size: 26px;
}

.game--title{
    padding-top: 20px;
}

.game--container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 10px;
    margin: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 26px;

}

.cell{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 50px;
    font-size: 26px;
}

button{
    margin-bottom: 20px;
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: #8c52ff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 556;
}

button:hover{
    transition: 0.25s;
    background-color: #c1a2fe;
}